// Mixins Here

.my-btn(@width: 100px, @radius: 5px) {
    width: @width;
    height: 30px;
    border-radius: @radius;
    background-color: @btn-bg-color;
    color: @sea-shell;

    &:hover {
        background-color: @sea-shell;
        color: @btn-bg-color;
    }
}

.radius() {
    border-radius: 5px;
}

.padding10() {
    padding: 10px;
}